name: Build and Push Greko

on: [push]

jobs:
  build-and-push-greko-backend :
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v3
      with:
        node-version: 16.18.1

    - name: Build Docker image
      run: |
        cd server
        npm install
        docker build -t shubhfb/greko-backend:latest .

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
    
    - name: Push Docker image to Docker Hub
      run: docker push shubhfb/greko-backend:latest
  
  build-and-push-greko-frontend :
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v3
      with:
        node-version: 16.18.1

    - name: Build Docker image
      run: |
        cd frontend
        npm install
        docker build -t shubhfb/greko-frontend:latest .

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
    
    - name: Push Docker image to Docker Hub
      run: docker push shubhfb/greko-frontend:latest
  
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: ssh into vm and deploy
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.AZURE_HOST }}
        username: ${{ secrets.AZURE_USERNAME }}
        key: ${{ secrets.AZURE_KEY }}
        script: |
          sh backend/run-backend.sh
          sh frontend/run-frontend.sh
