name: Build and Deploy

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16.18
    - name: Install dependencies
      run: npm install
    - name: Build Docker image
      run: docker build -t my-image .
    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
    - name: Push Docker image to Docker Hub
      run: docker push my-image
    - name: SSH into GCP instance
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.GCP_HOST }}
        username: ${{ secrets.GCP_USERNAME }}
        password: ${{ secrets.GCP_PASSWORD }}
    - name: Run Bash script on GCP instance
      run: |
        ssh ${{ secrets.GCP_USERNAME }}@${{ secrets.GCP_HOST }} "bash /path/to/script.sh"
