name: 'Automatically close stale issues and PRs'
on:
  workflow_dispatch:
  schedule:
    - cron: '20 4 1 * 7'
#The cron schedule 20 4 1 * 7 specifies that a job should be run at minute 20, hour 4 (i.e. 4:20am), on the first day of every month, every month, and only on Sundays (the seventh day of the week).

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v5
        with:
          stale-issue-message: 'We are clearing up our old issues and your ticket has been open for 1 months with no activity. Remove stale label or comment or this will be closed in 2 days.'
          stale-pr-message: 'We are clearing up our old Pull Requests and yours has been open for 1 months with no activity. Remove stale label or comment or this will be closed in 2 days.'
          close-issue-message: 'This issue was closed because it has been stalled for 2 days with no activity.'
          close-pr-message: 'This PR was closed because it has been stalled for 2 days with no activity.'
          days-before-stale: 30
          days-before-close: 2
          exempt-issue-labels: 'News,Medium,High,discussion,bug,doc,feature-request'
          exempt-pr-labels: 'awaiting-approval,work-in-progress,enhancement,feature-request'
          exempt-issue-assignees: 'shubhe25p'
          exempt-pr-assignees: 'shubhe25p'
          operations-per-run: 200